.centerbox img {
    width: 400px;
}

.centerbox {
    margin: 2em auto 0;
    width: 400px;
}

#topbar {
    position: fixed;
    height: 50px;
    background: #8facdf;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
}
#topbar h1 {
    position: absolute;
    margin: 4px 0;
    right: 60px;
}
#topbar img {
    width: 50px;
    float: right;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-top:55px;
}

.chessboard td {
    width: 30pt;
    height: 30pt;
    font-size: 200%;
    text-align: center;
}
.chessboard td.white {
    background: #eee;
}
.chessboard td.black {
    background: lightgrey;
}
.chessboard.your-turn td.white:hover,
.chessboard.your-turn td.black:hover,
.chessboard.your-turn td.selected {
    background: red;
}

#battle_status {
    text-align: center;
}
